* {
    margin: 0;
    padding: 0;
}
.br {
    border: 2px solid red;
}
/* Started styling */
body {
    background-color: #e9f5ff;
}
header {
    background-color: #1391ceb2;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
}
.logo-container {
    display: flex;
    align-items: center;
}
.link-group a {
    font-size: 16px;
    margin-right: 32px;
    text-decoration: none;
    color: #25468a;
}
.link-group a:hover {
    color: #ffffff;
}

.logo-container h4 {
    font-family: "Roboto";
    color: #25468a;
    font-size: 24.68px;
    font-weight: 700;
    line-height: 28.93px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.download-btn {
    background-color: #ffffff;
    padding: 9px 18px 9px 18px;
    border-radius: 24px;
    opacity: 0px;
}

/* Section-1 */
.company-status {
    float: right;
    padding-right: 0;
}
.img-section {
    padding-left: 0;
    float: left;
}
.company-status h1 {
    font-family: Roboto;
    color: #25468a;
    font-size: 92px;
    font-weight: 700;
    line-height: 107.81px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.company-status h4 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.company-status p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.company-btn {
    text-decoration: none;
    background-color: #f7ba0e;
    font-size: 18px;
    color: #3b4a6b;
    padding: 15px 85px 15px 85px;
    border-radius: 26px;
    display: inline-block;
}
.company-btn:hover {
    background-color: #ffffff;
}

/* Section-2 */
.info-card {
    background-color: #1391ce;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    padding: 69px 46px;
    width: 352px !important;
}
.info-card h3 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.78px;
    letter-spacing: 0.04em;
    text-align: center;
}

/* Section-3  */
.section-title {
    font-family: "Inter";
    text-align: center;
    color: #1391ce;
    font-size: 36px;
    font-weight: 300;
    line-height: 43.67px;
    letter-spacing: 1%;
}
.yellow-length {
    height: 6px;
    width: 160px;
    background-color: #f7ba0e;
    float: left;
    float: right;
}

/* Section-4 */
.text-box h2 {
    font-family: "Inter";
    color: #1391ce;
    font-size: 32px;
    font-weight: 700;
    line-height: 42.98px;
    letter-spacing: 0.01em;
    text-align: left;
}
.text-box h4 {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 21.49px;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
}
.text-box p {
    display: inline-block;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 24.17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #4f4f4f;
}
.text-box h6 {
    font-family: "Inter";
    color: #1391ce;
    font-size: 22px;
    font-weight: 600;
    line-height: 29.55px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.check-box {
    align-items: center;
}
.check-box p {
    color: #4f4f4f;
    align-content: center;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 24.17px;
    letter-spacing: 0.02em;
    text-align: left;
    padding-top: 12px;
    margin-left: 5px;
}

/* Footer */
footer {
    background-color: #1391ce;
}
.footer-cross {
    height: 1px;
    width: 1000px;
    background-color: #ffffff;
}
.footer-text {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 21.49px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 22px 0px 11px 0px;
}
